@page "/about"

<PageTitle>About - Pizza Express</PageTitle>

<div class="px-4 sm:px-6 lg:px-8 pt-5 mx-auto max-w-full lg:max-w-screen-2xl">
    <a class="pr-2" href="/">Home</a>
    <span>
        <span>&gt;</span>
        <span class="px-2 underline underline-offset-4 break-words">About</span>
    </span>
</div>
<div class="px-4 sm:px-6 lg:px-8 pt-7 pb-3 mx-auto max-w-full lg:max-w-screen-2xl">
    <h1 class="text-4xl font-bold">ABOUT</h1>
</div>
<div class="px-4 sm:px-6 lg:px-8 mt-2 mb-8 mx-auto max-w-full lg:max-w-screen-2xl">
    <p class="mb-4">We are a family-owned pizzeria that has been serving the community for over 20 years. We are passionate about making pizza and believe that everyone should have access to delicious, affordable food. Our pizza is made with fresh, high-quality ingredients and is cooked to perfection in our wood-fired oven. We also offer a variety of other Italian dishes, such as pasta, salads, and sandwiches.</p>
    <p class="mb-4">Our team is made up of experienced and dedicated pizza lovers. We are passionate about making pizza and we take pride in our work. We are always looking for new and innovative ways to make our pizza even better.</p>
    <p class="mb-4">We are committed to being a sustainable business. We use eco-friendly products and practices whenever possible. We also recycle and compost our waste.</p>
    <h2 class="text-2xl font-bold mb-3 pt-4">Our Values</h2>
    <ul class="mb-4 list-disc pl-8">
        <li class="mb-1">Promote customer satisfaction through the quality of services provided.</li>
        <li class="mb-1">Ensuring the efficiency of services by ensuring the quality of our food.</li>
    </ul>
    <h2 class="text-2xl font-bold mb-3 pt-4">Values</h2>
    <ul class="mb-4 list-disc pl-8">
        <li class="mb-1">Quality: We use only the freshest and highest-quality ingredients in our food.</li>
        <li class="mb-1">Customer service: We are committed to providing our customers with excellent customer service.</li>
        <li class="mb-1">Community: We are a proud member of the community and support local businesses.</li>
        <li class="mb-1">Family: We believe that family is important and we want to create a family-friendly atmosphere in our pizzeria.</li>
    </ul>
    <div class="grid sm:grid-cols-2 gap-8 pt-4">
        <div>
            <h2 class="text-2xl font-bold mb-3">Vision</h2>
            <p>Our mission is to provide our customers with the best possible dining experience. We want you to feel like you are part of our family when you come to our pizzeria. We strive to create a warm and inviting atmosphere where you can relax and enjoy a delicious meal.</p>
        </div>
        <div>
            <h2 class="text-2xl font-bold mb-3">Mission</h2>
            <p>Our mission is to provide our customers with the best possible dining experience. We want you to feel like you are part of our family when you come to our pizzeria. We strive to create a warm and inviting atmosphere where you can relax and enjoy a delicious meal.</p>
        </div>
    </div>
</div>