@page "/"

<PageTitle>Homepage - Pizza Express</PageTitle>

<div class="dark:bg-coolGray-800 dark:text-coolGray-100">
    <div class="grid grid-cols-12 justify-center px-4 sm:px-6 lg:px-8 py-8 w-full sm:py-12 lg:py-12 lg:justify-between mx-auto lg:max-w-screen-2xl">
        <div class="col-span-12 flex flex-col justify-center p-0 text-center rounded-sm max-w-screen-md mx-auto">
            <h1 class="text-4xl lg:text-5xl mb-4 font-bold leading-none">Deliciousness meets Ready-to-Go</h1>
            <p class="text-2xl mb-0">Order today and Treat yourself to Amazingness!</p>
        </div>
    </div>
</div>
<div class="bg-blue-brand text-white">
    <div class="overflow-hidden py-4">
        <div class="small-slider_slider__W0iv9 sm:px-6 lg:px-8">
            <div class="small-slider_slideTrack__2LXnz sm:grid sm:grid-cols-2 sm:gap-3 md:flex md:gap-1 lg:gap-0 sm:justify-evenly sm:mx-auto lg:max-w-screen-2xl">
                <div class="small-slider_slide__vrjf8 px-4 sm:px-0 flex justify-center gap-1">
                    <p class="text-lg">
                        <b>Custom</b> Made
                    </p>
                </div>
                <div class="small-slider_slide__vrjf8 px-4 sm:px-0 flex justify-center gap-1">
                    <p class="text-lg">
                        <b>Tasteful</b> Ingredients
                    </p>
                </div>
                <div class="small-slider_slide__vrjf8 px-4 sm:px-0 flex justify-center gap-1">
                    <p class="text-lg">
                        <b>Fast</b> Delivery
                    </p>
                </div>
                <div class="small-slider_slide__vrjf8 px-4 sm:px-0 flex justify-center gap-1">
                    <p class="text-lg">
                        <b>Multiple</b> Options
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-4 sm:px-6 lg:px-8 py-6 mx-auto lg:max-w-screen-2xl">
    <h2 class="text-4xl font-bold mb-6">MENU</h2>
    <div class="grid sm:grid-cols-3 gap-6">
        <img class="w-full" src="./images/pizza-1.jpg" width="550" height="413" alt="pizza showcase 1" loading="lazy" />
        <img class="w-full" src="./images/pizza-2.jpg" width="550" height="413" alt="pizza showcase 2" loading="lazy" />
        <img class="w-full" src="./images/pizza-3.jpg" width="550" height="413" alt="pizza showcase 3" loading="lazy" />
    </div>
</div>
<div class="bg-neutral-100">
    <div class="sm:grid lg:grid-cols-3 px-6 lg:px-8 py-4 mx-auto lg:max-w-screen-2xl gap-4">
        <div class="mb-3 md:mb-0 bg-white rounded-xl shadow-md">
            <div class="flex py-4 px-3 h-full items-center gap-1">
                <div class="px-3">
                    <h3 class="font-bold">1. CHOOSE YOUR FOOD</h3>
                    <p class="">Select the Pizza Style that you want.</p>
                </div>
            </div>
        </div>
        <div class="mb-3 md:mb-0 bg-white rounded-xl shadow-md">
            <div class="flex py-4 px-3 h-full items-center gap-1">
                <div class="px-3">
                    <h3 class="font-bold">2. WE PREPARE IT</h3>
                    <p class="">We start preparing your amazingness.</p>
                </div>
            </div>
        </div>
        <div class="mb-3 sm:mb-0 bg-white rounded-xl shadow-md">
            <div class="flex py-4 px-3 h-full items-center gap-1">
                <div class="px-3">
                    <h3 class="font-bold">3. READY FOR YOU</h3>
                    <p class="">Your amazingness is ready, you can come pick up or we deliver.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-4 sm:px-6 lg:px-8 py-6 mx-auto lg:max-w-screen-2xl">
    <div class="grid lg:grid-cols-2 gap-6">
        <div class="order-2 lg:order-1">
            <h2 class="text-3xl font-bold mb-5">ABOUT US</h2>
            <p class="leading-7 mb-4">
                <b>Pizza Express is a family-owned pizzeria that has been serving the community for over 20 years. We are passionate about making pizza and believe that everyone should have access to delicious, affordable food. Our pizza is made with fresh, high-quality ingredients and is cooked to perfection in our wood-fired oven. We also offer a variety of other Italian dishes, such as pasta, salads, and sandwiches.</b>
            </p>
            <p class="leading-7 mb-4">Our team is made up of experienced and dedicated pizza lovers. We are passionate about making pizza and we take pride in our work. We are always looking for new and innovative ways to make our pizza even better.</p>
            <p class="leading-7">We are committed to being a sustainable business. We use eco-friendly products and practices whenever possible. We also recycle and compost our waste.</p>
            <div class="mt-4 lg:max-w-lg">
                <p class="text-sm text-black mb-2">
                    <a href="tel:561-234-5678" class="font-bold text-md w-fit text-base flex gap-1 items-center">
                        <img src="./images/phone-icon.svg" width="20" height="20" style="width:20px;height:20px" />(561) 234-5678 </a>
                </p>
                <p class="text-sm text-black mb-2">
                    <a href="https://wa.me/15612345678" target="_blank" class="font-bold text-md w-fit text-base flex gap-1 items-center">
                        <img src="./images/whatsapp-icon.svg" width="20" height="20" style="width:20px;height:20px" />(561) 234-5678 </a>
                </p>
                <p class="text-sm text-black mb-5">
                    <a href="mailto:moduleauthority@gmail.com" class="font-bold text-md w-fit text-base flex gap-1 items-center">
                        <img src="./images/mail-icon.svg" width="20" height="20" style="width:20px;height:20px" />
                        <span style="overflow-wrap:anywhere">moduleauthority@gmail.com</span>
                    </a>
                </p>
            </div>
        </div>
        <div class="order-1 lg:order-2 mb-1 lg:mb-0">
            <img src="./images/restaurant.jpg" class="w-full" width="700" height="467" loading="lazy" />
        </div>
    </div>
</div>
<div class="bg-blue-brand text-white">
    <div class="px-4 sm:px-6 lg:px-8 py-8 mx-auto lg:max-w-screen-2xl text-center">
        <h2 class="text-3xl font-bold mb-2">Order Now and Feel the Deliciousness</h2>
        <p class="text-2xl mb-5">Start your order now!</p>
        <div class="">
            <a class="inline-block font-bold text-lg bg-red-brand opacity-95 text-white rounded-md px-8 py-2" href="./order">Order</a>
        </div>
    </div>
</div>