@page "/order"

<PageTitle>Order - Pizza Express</PageTitle>

<div class="px-4 sm:px-6 lg:px-8 py-6 mx-auto lg:max-w-screen-2xl">
    <h2 class="text-4xl font-bold mb-6">MENU</h2>
    <div class="grid sm:grid-cols-3 gap-6">
        <div>
            <img class="w-full" src="./images/pizza-1.jpg" width="550" height="413" alt="pizza showcase 1" loading="lazy" />
            <p class="text-center font-bold py-3 bg-blue-brand-opacity">Custom-Made Pizza</p>
        </div>
        <div>
            <img class="w-full" src="./images/pizza-2.jpg" width="550" height="413" alt="pizza showcase 2" loading="lazy" />
            <p class="text-center font-bold py-3 bg-blue-brand-opacity">Specialty-Made Pizza</p>
        </div>
        <div>
            <img class="w-full" src="./images/pizza-3.jpg" width="550" height="413" alt="pizza showcase 3" loading="lazy" />
            <p class="text-center font-bold py-3 bg-blue-brand-opacity">Multiple-Shaped Pizza</p>
        </div>
    </div>
</div>